
body{
    padding-top: 55px; 
    font-family: 'Lexend Deca', sans-serif; 
    background-color: #112e3b;
    color: azure
}
p{
    font-size: 18px
}
.navbar-default{
    background-color:#3d878b;
    color: white
}
h1{
    font-size: 30px;
    white-space:nowrap;
    overflow: hidden;
    width: 30em;
    animation: type 5s steps(50, end) 1;
    font-family: 'Source Code Pro', monospace;
	
}

@keyframes type{
    from{ width: 0;}
}

@keyframes blink{
    to{ opacity: .0;}
}
.container { 
    width: 75%;
    left: 350px;
    right: 10px
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.left-element {
    float: left;
    width: 30%;
    margin-left:17%;
    
}

.right-element {
    float: right;
    width: 30%;
    margin-right:20%;}

.jumbotron {
    background-color: #112e3b
     !important; 
}